/* ============================
   GLOBAL RESET
============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #eef2f3;
  color: #333;
  line-height: 1.6;
}

/* ============================
   COLOR THEME
============================ */
/* 
Main Colour: #34495e (Dark Blue/Grey)
Highlight: #1abc9c (Teal